.button {
  display: flex;
  justify-content: space-between;
  background-color: #1e6f9f;
  border: none;
  width: 80px;
  border-radius: 5px;
  padding: 11px;
  color: white;
  font-size: 14px;
  align-items: center;
  cursor: pointer;

  &:hover {

    //width: 86px;
    //padding: 13px;
    .plusImg {
      transform: rotate(90deg);
    }
  }

  .plusImg {
    width: 14px;
    height: auto;
    transition: all 0.3s ease;
  }
}