.containerTodoItem {
  background-color: #262626;
  list-style: none;
  padding: 16px;
  display: flex;
  position: relative;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  align-items: center;

  &__text {
    font-family: "inter";
  }

  &__mark {
    display: flex;
    margin-right: 12px;
    border-radius: 50%;
    border: solid 2px;
    width: 17.5px;
    height: 17.5px;
    color: #4ea8de;
    cursor: pointer;

    &::before {
      position: absolute;
      width: 5px;
      height: 8px;
      border-right: solid 1px #ffffff;
      border-bottom: solid 1px #ffffff;
      transform: rotate(45deg);
      top: 3px;
    }
  }

  &__deleteButton {
    position: absolute;
    right: 16px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
  }

  &--active {
    @extend .containerTodoItem;

    .containerTodoItem {
      &__mark {
        background-color: #5e60ce;
        border: none;
        top: 0px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
        }
      }

      &__text {
        text-decoration: line-through;
        color: #808080;
      }
    }
  }
}