.contentMain {
  padding-top: 60px;
  max-width: 750px;
  margin: auto;
  position: relative;
  height: calc(80vh - 60px);
}

.todoSearchContainer {
  display: flex;
  position: absolute;
  width: 100%;
  top: -20px;
  margin-bottom: 3rem;
}